.topleft{
    margin-left: 47px;
    margin-top: 7px;
    width: 155px;
    height: 49px;
    flex-shrink: 0;
}
.topleft h1{
    margin-left: 14px;
    color: #4ABEE2;
    font-size: 12px;
    line-height: normal;
}
.topright{
    margin-top: 31px;
    margin-right: 42px; 
}
