.topleft{
    margin-left: 47px;
    margin-top: 7px;
    width: 155px;
    height: 49px;
    flex-shrink: 0;
}
.topleft h1{
    margin-left: 14px;
    color: #4ABEE2;
    font-size: 12px;
    line-height: normal;
}
.topright svg{
    margin-top: 31px;
    flex-shrink: center;
}
.bloco2{
    margin-top: 10px;
    margin-left: 1.5px;
    position: relative;
    color: white;
}
.vivasemlimitacoes{
    width: 100%;
}
.titulo-sobre-imagem{
    width: 539px;
    top: 77px;
    left: 62px;
    position: absolute;
    vertical-align: middle;
    padding: 10px;
    font-family: Serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 103.4%; /* 46.53px */
    letter-spacing: 2.25px;
}

.texto-sobre-imagem{
    width: 496px;
    top: 159px;
    left: -1px;
    position: absolute;
    vertical-align: middle;
    font-family: 'Roboto Serif';
    padding: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 103.4%; /* 20.68px */
    letter-spacing: 1px;
}
.base_texto{
    margin-top: 194px;
    width: 308px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 147px;
    background: #198BAF;
}
.texto-experimente{
    margin-left: 17px;
    color: #F9F9F9;
    font-family: Roboto Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
}
.texto-experimente svg{
    width: 27.981px;
    height: 26.942px;
    transform: rotate(89.882deg);
    flex-shrink: 0;
}